
  
  .inputAnt {
    padding: 0.7rem !important;
    border-radius: 1rem !important;
    margin: 1.5rem !important;
    width: 100% !important;
    border: 0.1rem solid black !important;
    box-shadow: none !important;
  }
  
